<div class="container mt-4">
  <h2 class="mb-3">Submit Marks</h2>
  <div *ngIf="exams.length > 0" class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th>No</th>
          <th>UTNumber</th>
          <th>StudentName</th>
          <th>ExamType</th>
          <th>Marks</th>
          <th>Submit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exam of exams; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ exam.examType }}</td>

          <td>
            <input type="number" class="form-control" [(ngModel)]="exam.marks" />
          </td>
          <td>
            <button class="btn btn-success btn-sm" (click)="submitMarks(exam)">
              Submit <i class="bi bi-check-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="exams.length === 0" class="text-center">No exams available to submit marks for.</p>
</div>
