<!-- <div class="card mt-5 m-5 Larger shadow w-50 m-auto">
  <div class="container mt-5">
    <div class="d-grid gap-5 d-md-flex justify-content-between">
      <input type="text" placeholder="Search Course" class="p-auto m-4 w-3"/>
      <button class="btn btn-success p-2 m-4 w-3" type="button" [routerLink]="['/course-add']">+ Add New Course</button>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr class="">
          <th scope="col">Id</th>
          <th scope="col">Course Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Available</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courses">
          <td scope="row">{{ item.id }}</td>
          <td>{{ item.courseName }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.startDate | date }}</td>
          <td>{{ item.endDate | date }}</td>
          <td>{{ item.isDeleted ? 'No' : 'Yes' }}</td>
          <td>
            <button type="button" class="btn btn-primary  ">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button type="button" class="btn btn-danger mt-2 " (click)="deleteCourse(item.id)">
              <i class="bi bi-trash3-fill"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="container mt-5">
  <!-- Card Container for Search and Table -->
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <!-- Grid Layout for Search Box and Add Button -->
    <div class="row mb-3 align-items-center">
      <!-- Search Box Column -->
      <div class="col-md-8">
        <input type="text" placeholder="Search Course" class="form-control" />
      </div>
      <!-- Add Course Button Column -->
      <div class="col-md-4 text-md-right">
        <button class="btn btn-success p-2 m-4 w-3" type="button" [routerLink]="['/dashboard/Staff/course/add']">+ Add
          New Course</button>
      </div>
    </div>

      <!-- Table Section -->
    <div class="table-responsive">
      <table class="table table-bordered table-striped"> <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Course Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Available</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courses; let i = index">
          <td scope="row">{{ item.id }}</td>
          <td>
            <input *ngIf="item.isEditing" [(ngModel)]="item.courseName" class="form-control" />
            <span *ngIf="!item.isEditing">{{ item.courseName }}</span>
          </td>
          <td>
            <input *ngIf="item.isEditing" [(ngModel)]="item.description" class="form-control" />
            <span *ngIf="!item.isEditing">{{ item.description }}</span>
          </td>
          <td>
            <input *ngIf="item.isEditing" type="date" [(ngModel)]="item.startDate" class="form-control" />
            <span *ngIf="!item.isEditing">{{ item.startDate | date }}</span>
          </td>
          <td>
            <input *ngIf="item.isEditing" type="date" [(ngModel)]="item.endDate" class="form-control" />
            <span *ngIf="!item.isEditing">{{ item.endDate | date }}</span>
          </td>
          <td>{{ item.isDeleted ? 'No' : 'Yes' }}</td>
          <td>
            <button *ngIf="!item.isEditing" type="button" class="btn btn-primary" (click)="editCourse(item)">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button *ngIf="item.isEditing" type="button" class="btn btn-success" (click)=" onSubmit(item.id)">
              <i class="bi bi-save"></i>
            </button>
            <button *ngIf="!item.isEditing" type="button" class="btn btn-danger mt-2" (click)="deleteCourse(item.id)">
              <i class="bi bi-trash3-fill"></i>
            </button>
            <button *ngIf="item.isEditing" type="button" class="btn btn-secondary mt-2" (click)="closeEdit(item)">
              <i class="bi bi-x-circle"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>