<h3 class="mb-3 p-2">Add New TimeTable</h3>
<hr>
<form [formGroup]="timeTableForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">

      <!-- Course -->
      <div class="mb-3 p-2">
        <label for="course" class="form-label">Course</label>
        <select class="form-control" id="course" formControlName="courseId">
          <option *ngFor="let course of courses" [value]="course.id">{{course.courseName}}</option>
          
        </select>
      </div>

      <!-- Due Date -->
      <!-- <div class="mb-3 p-2">
        <label for="dueDate" class="form-label">Due Date</label>
        <input type="text" bsDatepicker [bsConfig]="{ isAnimated: true }" autocomplete="off" class="form-control" id="dueDate" formControlName="dueDate">
      </div> -->


      <!-- Start Time -->
      <div class="mb-3 p-2">
        <label for="starttime" class="form-label">Start Time</label>
        <input type="datetime-local" class="form-control" id="starttime" formControlName="startTime">
      </div>

      <!-- End Time -->
      <div class="mb-3 p-2">
        <label for="endtime" class="form-label">End Time</label>
        <input type="datetime-local" class="form-control" id="endtime" formControlName="endTime">
      </div>

      <!-- Class Type -->
      <!-- <div class="mb-3 p-2">
        <label for="class" class="form-label">Class Type</label>
        <select class="form-control" id="class" formControlName="class">
          <option value="lab">Lab</option>
          <option value="session">Session</option>
        </select>
      </div> -->

    </div>
  </div>

  

  <!-- Submit Button -->
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
