<div class="row m-3">
  


  <!--  -->
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <!-- Header with day names and dates -->
        <th scope="col" class="text-center">
          Monday <br> <small>2024-11-20</small>
        </th>
        <th scope="col" class="text-center">
          Tuesday <br> <small>2024-11-21</small>
        </th>
        <th scope="col" class="text-center">
          Wednesday <br> <small>2024-11-22</small>
        </th>
        <th scope="col" class="text-center">
          Thursday <br> <small>2024-11-23</small>
        </th>
        <th scope="col" class="text-center">
          Friday <br> <small>2024-11-24</small>
        </th>
        <th scope="col" class="text-center">
          Saturday <br> <small>2024-11-25</small>
        </th>
        <th scope="col" class="text-center">
          Sunday <br> <small>2024-11-26</small>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Row 1: Lab and Session columns merged, with times for each session -->
      <tr>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
        <td class="text-center">
          <div class="border border-black">
            <strong>Lab</strong><br>
            <small>9:00 AM - 11:00 AM</small>
          </div>
          <div class="border border-black">
            <strong>Session</strong><br>
            <small>1:00 PM - 3:00 PM</small>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
