<div class="container mt-4">
  <h3>Staff List</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>NIC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffMembers">
        <td>{{ staff.userId }}</td>
        <td>{{ staff.firstName }}</td>
        <td>{{ staff.lastName }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.nicNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>
