body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  height: 100vh;
  background-image: url('/bg-login.jpg');
  background-size: cover;
  background-position: center;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;


}

.card {
  background: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  transition: transform 0.2s ease-in-out;
  margin-left: -50%;
  transform: translateX(-50%);
}

.card .form-control {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  transition: box-shadow 0.3s ease-in-out;
}

.card .btn-primary {
  background-color: rgb(21, 83, 150);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.card .btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.input-group-text {
  cursor: pointer;
}

.text-danger {
  font-size: 0.85rem;
  font-weight: bold;
}

.text-primary {
  color: #e8edf3;
}

.card:hover {
  transform: scale(1.05);
}

.card *:not(.btn-primary, .form-control) {
  color: #000;
  /* changed text color to black */
}
