
<br><br>
<div >
    <form class="card mt-5 Larger shadow w-50 m-auto p-5" [formGroup]="courseForm" (ngSubmit)="createCourse()">
        <h2 class="m-2 ">Add Course</h2>
        <div class="mb-3">
            <label for="courseName" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="courseName" formControlName="courseName">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" formControlName="startDate">
        </div>
        <div class="mb-3">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" formControlName="endDate">
        </div>
        <div class="m-3">
            <button type="submit" [disabled]="courseForm.invalid" class="btn btn-primary m-2">Submit</button>

            <button type="button" class="btn btn-secondary m-2" [routerLink]="['/course-view']">Cancel</button>
        </div>
    </form>
</div>
